*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/registro-bg.jpeg);
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
}

:root{
    scroll-behavior: smooth;
    --text: #0c0c0c0c;
    --orange: #FF7143;
    --blue: #5454d4;
    --background: #F9F8FE;}

/* estilos navbar  */

.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.nav__logo{
    width: 150px;
    background-color: var(--orange);
    border-radius: 20px;}





/* ESTILOS FORMULARIO */

.formulario{
    width: 750px;
    background-color: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #ffffff;
    padding: 40px 35px 55px;
    margin: 0 10px;  
}

.formulario h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px; 
    font-weight: 600;  
}

.formulario .caja-campos {

display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.caja-campos .campos-formulario {
    position: relative;
    width: 49%;
    height: 50px;
    margin: 13px 0;
}

.caja-campos .campos-formulario input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #e3e3e3;
    padding: 15px 15px 15px 40px;
}

.caja-campos .campos-formulario input::placeholder{
    color: #f17e04;
}

.caja-campos .campos-formulario i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.formulario label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 30px;
}

.formulario{
    accent-color: var(--orange);
    margin-right: 10px;
}

.formulario .btn{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    background-color:var(--orange);
    border: none;
    outline: 12px; 
    font-size: 17px;
    font-weight: 600;
    color: var(--background);
    cursor: pointer; 
}


.btn a{
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 576px){
     .formulario .caja-campos .campos-formulario{
        width: 100%;
        margin: 10px 0;
    }
}